<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="color: black">Crud nota</h3>
        </div>
            <div class="card-body">
                <table class="table table-hover">
                <thead>
                    <tr  class="text-center">
                      <th>ID</th>
                      <th>Acciones</th>
                      <th>nombre</th>
                      <th>titulo</th> 
                      <th>Acciones</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nota of notas"  class="text-center">
                        <td>{{nota.id}}</td>
                        <td>{{nota.contenido}}</td>
                        <td>{{nota.nombre}}</td>
                        <td>{{nota.titulo}}</td>
                        

                        <td>
                            <button (click)="Editar(nota)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(nota)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                        </td>
                    </tr>           
           </tbody>
           </table>
        </div>
    </div>
</div>
