<main>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hogares inteligentes</mat-card-title>
      <mat-card-subtitle>Internet de las cosas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2017/09/20/16/53/smart-home-2769210_960_720.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Obtenga el control de su casa a través de internet
     desde cualquier lugar del mundo.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>
  

  <br>
  

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Desarrollo de Software</mat-card-title>
      <mat-card-subtitle>Full Stack (Backend+Frotend)</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2015/02/21/17/42/ash-icons-vectors-644451_960_720.png" alt="Photo of a Shiba Inu">
   
    <mat-card-content>
      <p>
     Desarrollo de Software, Java, HTML, CSS, JavaScript, TypeScript, Frameworks,
     Spring framework, Spring boot, Angular8, Bootstrap 4, MDBootstrap, Android, AndroidStudio.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>

  
  <br>
  

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Base de datos</mat-card-title>
      <mat-card-subtitle>Desarrollo de Software</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2013/07/12/17/22/database-152091_960_720.png" alt="Photo of a Shiba Inu">
   
    <mat-card-content>
      <p>
     Diseño, desarrollo y mantenimiento a bases de datos, relacionales (MySQL, Oracle, PostgreSQL) y no 
     realacionales (MongoDB).

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>

  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Servidores </mat-card-title>
      <mat-card-subtitle>Linux, Centos, Raspbian, Windows.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2012/04/26/19/47/penguin-42936_960_720.png" alt="Photo of a Shiba Inu">
   
    <mat-card-content>
      <p>
     Configuracion y mantenimiento de servidores web, apache, apache tomcat, WildFly, etc.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>

  <br>
  

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image4"></div>
      <mat-card-title>Desarrollo de Hardware </mat-card-title>
      <mat-card-subtitle>Microcontroladores, Ordenadores, PLC .</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2018/05/29/11/05/device-3438525_960_720.jpg" alt="Photo of a Shiba Inu">
   
    <mat-card-content>
      <p>
     Desarrollo de Hardware, adecuacion de sensores, programacion de Microcontroladores, servicios en 
     telecomunicaciones.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ver</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>

</main>