.app-sidenav-container{
    flex: 1;
    height: 100%;
    min-height: 100;
    position: fixed;
    width: 100%;
    min-width: 100%;
}

.app-sidenav-content{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.app-sidenav{
    width: 240px;
}

.barra {
   
    position: fixed;
    width: 100%;
  
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }