.btn-hambur{
    display: none;
    min-width: 56px;
}

@media (max-width:720px){
    .btn-hambur{
        display: flex;
        justify-content: center;
    }
}


.example-icon {
    padding: 0 14px;
    
  }

  
.example-spacer {
    flex: 1 1 auto;
  }