<div class="container col-md-6" >
    <div class="card">
        <div class="card-header">
            <h3 style="color: black">Registro</h3>
        </div>
            <div class="card-body">
              <form action="" >
  
                <div class="form-group">
                <label for="" >Nombre</label>
                <input #nombre type="text" class="form-control">
                </div>
  
                <div class="form-group">
                <label for="" >Titulo</label>
                <input #titulo type="text" class="form-control">
                </div>
  
                <div class="form-group">
                <label for="" >Tareas</label>
                <input #tareas type="text" class="form-control">
                </div>
                
                <button (click)="Registrar(nombre.value,titulo.value,tareas.value)" class="btn btn-danger">Registrar</button>
  
              </form>
          
        </div>
    </div>
  </div>
 

